.page {
  background-color: inherit;
  display: block;
  position: fixed;
  z-index: 199;
  overflow-y: auto;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  opacity: 1;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;

  &.page-swap {
    transition: none !important;
  }

  &.page-center {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  &.page-right {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &.page-bottom {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  &.page-left {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.page-top {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  &.page-active {
    position: relative;
    opacity: 1;
    transform: none;
  }

  &.page-menu {
    width: 90%;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.26);
    z-index: 201;
    &.page-active  ~ .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
