fieldset {
  border: none;
  margin: 0;
  padding: 0;

  legend {
    display: block;
    padding-top: 1em;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #757575;
  }

  p.switch {
    position: relative;

    label {
      position: static;
    }

    input[type="checkbox"] {
      margin: 0;
      appearance: none;
      outline: none;
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;

      &:before {
        content:"";
        position:absolute;
        right: 16px;
        top: -4px;
        height:24px;
        width:24px;
        border-radius:50%;
        display:block;
        background:@main_color;
        border:none;
        z-index:2;
        box-shadow:inset 0 0 0 16px #757575,0 0 1px 0 #000;
        transform: translateZ(0);
        transition:transform 300ms ease-in 0s;
      }

      &:after {
        content:"";
        right: 0;
        width:36px;
        height:16px;
        background:@main_color;
        box-shadow: inset 0 0 0 16px #757575;
        border-radius:16px;
        display:block;
        position:absolute;
        z-index:1;
        transition:all 300ms ease-in 0s;
      }

      &:checked:before {
        transform: translateX(16px);
        box-shadow:inset 0 0 0 0 @main_color, 0 0 1px 0 #000;
      }

      &:checked:after {
        box-shadow: inset 0 0 0 0 @main_color;
      }
    }
  }

  p.radio {
    position: relative;
    min-height: 16px;

    label {
      position: static;
      margin-left: 24px;
    }

    input[type="radio"] {
      margin: 0;
      appearance: none;
      outline: none;
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #757575;
      }

      &:after {
        content: '';
        position: absolute;
        visibility: hidden;
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        background-color: @main_color;
        border-radius: 50%;
      }

      &:checked {
        &:before {
          border-color: @main_color;
        }

        &:after {
          visibility: visible;
        }
      }
    }
  }
}

fieldset > p {
  position: relative;
  margin-top: 1em;
  textarea {
    resize: none;
    overflow: hidden;
    height: 3em;
  }
  input[type="text"],
  textarea {
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    padding-top: 100px;
    font-size: 17px;
    padding: 5px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    margin-top: 1em;

    &:focus {
      outline: none;
      & ~ .bar:before,
      & ~ .bar:after {
        width: 50%;
      }
      & ~ .highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }

    &:focus ~ label, &:valid ~ label {
      top: -13px;
      font-size: 13px;
      color: @main_color;
    }
  }
  label {
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar {
    position: relative;
    display: block;
    width: auto;
    &:before,
    &:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: @main_color;
      box-sizing: border-box;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    &:before {
      left: 50%;
    }
    &:after {
      right: 50%;
    }
  }
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
}


@-webkit-keyframes inputHighlighter {
  from {
    background: @main_color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: @main_color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: @main_color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
