header {
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  background: @primary_color;
  backface-visibility: hidden;
  color: #fff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.26);
  flex-shrink: 0;
  display: flex;

  h1 {
    display: flex;
  }

  a.back {
    display: flex;
    align-items: center;
    line-height: 56px;
    height: 56px;
    padding: 0 16px;
  }
}
