.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  display: inline-block;

  &.icon-back {
    background-image: url('../icon/back.svg');
  }

  &.icon-forward {
    background-image: url('../icon/forward.svg');
  }

  &.icon-bars {
    background-image: url('../icon/bars.svg');
  }

  &.icon-next {
    background-image: url('../icon/next.svg');
  }

  &.icon-prev {
    background-image: url('../icon/prev.svg');
  }

  &.icon-camera {
    background-image: url('../icon/camera.svg');
  }

  &.icon-calendar {
    background-image: url('../icon/calendar.svg');
  }

  &.icon-comment {
    background-image: url('../icon/comment.svg');
  }

  &.icon-email {
    background-image: url('../icon/email.svg');
  }

  &.icon-settings {
    background-image: url('../icon/settings.svg');
  }

  &.icon-plus {
    width: 24px;
    height: 24px;
    font-size: 0;
    background-image: url('../icon/plus.svg');
  }

}
