ul {
  list-style-type: none;
  margin: 0;
  padding: 0;


  li {
    display: list-item;
    text-align: -webkit-match-parent;
    min-height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #cbcbcb;
  }

  li:last-child {
    border-bottom: none;
  }
}
