.popup {
  display: block;
  background-color: #fff;
  border-radius: 2px;
  margin: 0.7rem 0.5rem;
  vertical-align: top;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.26);
  position: fixed;
  z-index: 201;
  width: 90%;
  height: auto;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;

  left: 50%;
  top: 50%;

  transform: translate3d(-50%, -2500px, 0);
  transition: transform 150ms ease-in-out;
  &.popup-show {
    display: block;
    transform: translate3d(-50%, -50%, 0);

    & ~ .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}
