.icon {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
  display: inline-block;

  &.icon-back {
    width: 12px;
    height: 20px;
    background-image: url('../icon/back.svg');
  }

  &.icon-forward {
    width: 12px;
    height: 20px;
    background-image: url('../icon/forward.svg');
  }

  &.icon-bars {
    width: 21px;
    height: 14px;
    background-image: url('../icon/bars.svg');
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2ddpx) {
      height: 13px;
      background-image: url('../icon/bars@2x.svg');
    }
  }

  &.icon-next {
    width: 15px;
    height: 15px;
    background-image: url('../icon/next.svg');
  }

  &.icon-prev {
    width: 15px;
    height: 15px;
    background-image: url('../icon/prev.svg');
  }

  &.icon-camera {
    width: 25px;
    height: 20px;
    background-image: url('../icon/camera.svg');
  }

  &.icon-calendar {
    background-image: url('../icon/calendar.svg');
  }

  &.icon-comment {
    background-image: url('../icon/comment.svg');
  }

  &.icon-email {
    background-image: url('../icon/email.svg');
  }

  &.icon-settings {
    background-image: url('../icon/settings.svg');
  }

  &.icon-plus {
    width: 25px;
    height: 25px;
    font-size: 0;
    background-image: url('../icon/plus.svg');
  }

}
